@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";

// General

body {
  padding-top: 70px;
  height: 100%;
}

th, td {
  text-align: center !important;
  vertical-align: middle;
}

.checkbox input {
  margin-left: 0px !important;
}

footer {
  background-color: #eee;
  padding-top: 15px;
}

* {
  margin: 0;
}

html, body {
  height: 97%;
}

.page-wrap {
  min-height: 100%;
  height: auto !important;
  height: 97%;
  margin: 0 auto -4em;
}

.page-wrap:after {
  display: block;
}

.footer, .page-wrap:after {
  height: 4em;
}

// Flash

.container .alert {
  padding-bottom: 30px;
  .close {
    font-size: 20px;
  }
}

// Products

.image-card {
  height: 200px;
}

.pagination {
  margin-top: 0 !important;
}

.panel-success {
  height: 384px;
}

// Cart

.cart-btn {
  margin-bottom: 5px;
  width: 100%;
}

.qty-cart {
  width: 60px;
}

.qty {
  width: 60px;
  margin-bottom: 10px;
}

// Search

.search {
  padding: 0 0 30px 0;
  margin: 0 0 30px 0;
  border-bottom: solid 1px grey;
}

.search-box {
  margin-left: 50px;
  width: 550px;
}
