@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";

// General

body {
  padding-top: 70px;
}

th, td {
  text-align: center !important;
  vertical-align: middle;
}

.checkbox input {
  margin-left: 0px !important;
}

// Flash

.container .alert {
  padding-bottom: 30px;
  .close {
    font-size: 20px;
  }
}


// Products

.image-card {
  height: 200px;
}

// Cart

.cart-btn {
  margin-bottom: 5px;
  width: 100%;
}
